[Desktop Entry]
Type=Application
Version=0.3
Name=Linthesia
GenericName=Piano game
GenericName[fr]=Jeu de piano
Comment=Piano game
Comment[fr]=Jeu de piano
Icon=linthesia.xpm
Exec=linthesia
Categories=Game;Music;Education
