[Desktop Entry]
Type=Application
Name=Linthesia
GenericName=Piano game
Comment=Piano hero like game
Icon=linthesia
Exec=linthesia
Categories=Game;Music;Education;
